* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #110848;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.h1-header {
  font-size: 3.5rem;
  line-height: 1.5;
  width: 95%;
}

.h3-header {
  padding: 60px 0 10px;
  font-size: 1.5rem;
}

header {
  padding: 46px 0 0;
  position: relative;
}

p {
  color: #aaa;
  font-size: 1.2rem;
  font-weight: 400;
  width: 70%;
}

input[type="email"] {
  padding: 9px;
  font-size: 21px;
  border: 0;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin-bottom: 20px;
  width: 60%;
}

button[type="submit"] {
  padding: 10px 0;
  height: 60px;
  width: 30%;
  border: 0;
  background: #06d79d;
  color: #fff;
  position: relative;
  font-weight: 700;
  border-radius: 3px;
  margin-left: 10px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
}

button:hover {
  background: #03573F;
}

.flex-box {
  display: flex;
  flex-flow: row;
  position: relative;
}

.left,
.right {
  flex-grow: 1;
  max-width: 50%;
  min-height: 100vh;
}

.left {
  background: url("../images/illustration-main.svg") no-repeat center,
    linear-gradient(211deg, #171072, #625daf);
  background-size: 30vw, 100%;
}

.right {
  padding: 0 5% 7%;
}

.logo {
  width: 150px;
  height: 50px;
  background: url("../images/logo.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
}

.images {
  height: 100vh;
  width: 100%;
  background: linear-gradient(31deg, rgba(101, 96, 178, 1) 0%, rgba(25, 17, 116, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  position: absolute;
  right: 0;
}

.icons {
  padding: 0 0 0 15px;
}

.icons:hover {
  color: #06d79d
}

.content {
  margin-top: 200px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input {
  flex: 1;
}

.submit {
  flex: 1;
}

.footer {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  text-align: right;
}

/* Media Queries */
@media screen and (max-width: 930px) {
  .flex-box {
    flex-flow: column;
  }

  .left,
  .right {
    width: 100%;
    max-width: 100%;
    min-height: 80vh;
  }

  .left {
    padding: 0;
    background: url("../images/illustration-main.svg") no-repeat center,
      url("../images/bg-intro.svg");
    background-size: 55vw, 100% 100%;
  }

  .images {
    background: url("../images/bg-intro.svg") no-repeat center;
    background-size: 100%;
  }

  .logo {
    background: url("../images/logoMobile.svg") no-repeat;
    background-size: 100%;
    left: 49px;
  }

  .right header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 49px 0;
  }

  .right .content {
    margin-top: 0;
  }

  .h1-header {
    padding: 0;
    font-size: 3.5rem;
    margin-bottom: 14px;
  }

  .media {
    right: 49px;
  }

  .media a {
    color: #fff;
  }

  .form {
    flex-direction: column;
    justify-content: flex-start;
  }

  .input {
    width: 100%;
  }

  .submit {
    width: 133px;
    height: 41px;
  }

  input[type="email"] {
    font-size: 35px;
    height: 48px;
    width: 100%;
  }

  button[type="submit"] {
    margin: 0;
  }

  .footer{
    margin-top: 40px;
  }
}
