* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #110848;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.h1-header {
  font-size: 2rem;
  line-height: 1.5;
  width: 100%;
}

.h3-header {
  padding: 60px 0 10px;
  font-size: 1rem;
}

header {
  padding: 46px 0 0;
  position: relative;
}

p {
  padding-top: 40px;
  color: #aaa;
  font-size: .9rem;
  font-weight: 400;
  width: 85%;
}

input[type="email"] {
  padding: 3px;
  font-size: 21px;
  border: 0;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 60%;
}

button[type="submit"] {
  height: 40px;
  width: 30%;
  border: 0;
  background: #06d79d;
  color: #fff;
  position: relative;
  font-weight: 700;
  border-radius: 3px;
  margin-left: 10px;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
}

button:hover {
  background: #03573F;
}

.flex-box {
  display: flex;
  flex-flow: row;
  position: relative;
  min-height: 100vh;
}

.left,
.right {
  flex-grow: 1;
  max-width: 50%;
}

.left {
  background: url("../images/illustration-main.svg") no-repeat center,
    linear-gradient(211deg, #171072, #625daf);
  background-size: 30vw, 100%;
}

.right {
  padding: 0 5% 7%;
}

.logo {
  width: 100px;
  height: 50px;
  background: url("../images/logo.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
}

.images {
  width: 100%;
  background: linear-gradient(31deg, rgba(101, 96, 178, 1) 0%, rgba(25, 17, 116, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  position: absolute;
  right: 0;
}

.icons {
  font-size: 1.2rem;
  padding: 0 0 0 15px;
}

.icons:hover {
  color: #06d79d
}

.content {
  margin-top: 150px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input {
  flex: 1;
}

.submit {
  flex: 1;
}

.footer {
  position: absolute;
  right: 5%;
  bottom: 5%;
  text-align: right;
}

.footer a {
  font-weight: 400;
  font-size: .7rem;
  color: #000;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .flex-box {
    flex-flow: column;
  }

  .left,
  .right {
    padding: 0;
    width: 100%;
    max-width: 100%;
    min-height: 80vh;
  }

  .left {
    background: url("../images/illustration-main.svg") no-repeat center,
      url("../images/bg-intro.svg");
    background-size: 55vw, 100% 100%;
  }

  .images {
    background: url("../images/bg-intro.svg") no-repeat center;
    background-size: 100%;
  }

  .logo {
    background: url("../images/logoMobile.svg") no-repeat;
    background-size: 100%;
    left: 7%;
  }

  .right header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .right .content {
    margin: 20px 7%;
  }

  .h1-header {
    padding: 0;
    margin-bottom: 14px;
  }

  .media {
    right: 7%;
  }

  .media a {
    color: #fff;
  }

  .form {
    flex-direction: column;
    justify-content: flex-start;
  }

  .submit {
    width: 133px;
    height: 41px;
  }

  input[type="email"] {
    padding: 8px 0;
    font-size: 21px;
    height: 40px;
    width: 100%;
  }

  button[type="submit"] {
    margin: 10px 0;
  }

.footer{
  position: relative;
  bottom: 0;
  right: 0;
  /* padding: 7%; */
  margin: 7% 7% 100px;
}
  .footer a{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
